
<!-- <router-outlet /> -->
<div class="vertical-layout">
    <aside class="icon-sidebar">
      <div class="top-icons">
        <button><i class="fas fa-home"></i></button>
        <button><i class="fas fa-chart-bar"></i></button>
        <button><i class="fas fa-layer-group"></i></button>
        <button><i class="fas fa-globe"></i></button>
        <button><i class="fas fa-user-friends"></i></button>
      </div>
      <div class="bottom-icons">
        <button><i class="fas fa-cog"></i></button>
        <button class="user-avatar">
          <img src="https://i.pravatar.cc/30" alt="User" />
        </button>
      </div>
    </aside>
  
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
  
